body {
    background-image: url("abstract-background-with-metallic-rose-gold-texture_1048-7968.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}

/* INTRO PAGE */

#name {
    position: fixed;
    color: rgb(236, 232, 232);
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: "Optima";
}

a {
    text-decoration: none;
    color: rgb(236, 232, 232);

}

/* NAVIGATION PAGE */



/* BIO PAGE */

.media {
    margin: 200px;
    border: 10px;
    border-radius: 50%;
    text-align: left;
    color: rgb(236, 232, 232);

}


.pure-menu-link {
    text-decoration: none; 
    color: rgb(236, 232, 232);
}

h5 {
    text-align:;
}

/* PORTFOLIO */

.main {
    padding-top: 70px;
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 25x;
  }
  
  h3 {
    font-family: 'Optima';
    font-size: 15px;
    color: white;
    background-color: rgb(231, 192, 199);
    text-align: center;
  
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  
  

/* CONTACT */

form {
    float: center;
}