body {
    background-image: url("abstract-background-with-metallic-rose-gold-texture_1048-7968.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}

/* INTRO PAGE */

#name {
    position: fixed;
    color: rgb(236, 232, 232);
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: "Optima";
}

a {
    text-decoration: none;
    color: rgb(236, 232, 232);

}

/* NAVIGATION PAGE */



/* BIO PAGE */

.media {
    margin: 200px;
    border: 10px;
    border-radius: 50%;
    text-align: left;
    color: rgb(236, 232, 232);

}

img {
    border-radius: 50%;
}

.pure-menu-link {
    text-decoration: none; 
    color: rgb(236, 232, 232);
}

h5 {
    text-align:;
}

/* PORTFOLIO */

/* CONTACT */

form {
    float: center;
}